<!DOCTYPE html>
<html lang="fr-BE" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="src/scss/prefixed/index.css">
  <link rel="icon" type="image/png" href="src/scss/icons/favicon.png">
  <title>PIB Manager</title>
</head>

<body style="background-image: url('<%= wallpaper %>');">
  <div class="backgroundColor"></div>
  <header class="header">
    <span class="header__container flex">
      <img class="header__container__icon returnIcon hidden" alt="Retour en arrière" src="src/scss/icons/return.svg">
      <span class="header__container__msg hidden">Étape précédente</span>
    </span>
    <span class="header__menu">
      <input class="header__menu__switch" type="checkbox">
      <span class="header__menu__icon flex">
        <div class="header__menu__icon__bar flex"></div>
      </span>
      <nav class="menu flex">
        <span class="menu__item draftsLink flex">
          <svg class="menu__item__icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#ffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M20 11.08V8l-6-6H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h6" />
            <path d="M14 3v5h5M18 21v-6M15 18h6" />
          </svg>
          <p class="menu__item__legend">Requêtes express</p>
        </span>
        <span class="menu__item searchLink flex">
          <a class="flex" href="/search" target="_blank" rel="noreferrer">
            <svg class="menu__item__icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="arcs">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
            <p class="menu__item__legend">Recherche</p>
          </a>
        </span>
        <span class="menu__item exportsLink flex">
          <svg class="menu__item__icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#ffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M21.2 15c.7-1.2 1-2.5.7-3.9-.6-2-2.4-3.5-4.4-3.5h-1.2c-.7-3-3.2-5.2-6.2-5.6-3-.3-5.9 1.3-7.3 4-1.2 2.5-1 6.5.5 8.8m8.7-1.6V21" />
            <path d="M16 16l-4-4-4 4" />
          </svg>
          <p class="menu__item__legend">Exporter des données</p>
        </span>
        <span class="menu__item addReaderLink flex">
          <svg class="menu__item__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48">
            <path fill-rule="evenodd" fill="#ffffff" d="M3.5 8a5.5 5.5 0 118.596 4.547 9.005 9.005 0 015.9 8.18.75.75 0 01-1.5.045 7.5 7.5 0 00-14.993 0 .75.75 0 01-1.499-.044 9.005 9.005 0 015.9-8.181A5.494 5.494 0 013.5 8zM9 4a4 4 0 100 8 4 4 0 000-8z"></path>
            <path d="M17.29 8c-.148 0-.292.01-.434.03a.75.75 0 11-.212-1.484 4.53 4.53 0 013.38 8.097 6.69 6.69 0 013.956 6.107.75.75 0 01-1.5 0 5.193 5.193 0 00-3.696-4.972l-.534-.16v-1.676l.41-.209A3.03 3.03 0 0017.29 8z"></path>
          </svg>
          <p class="menu__item__legend">Ajouter un lecteur</p>
        </span>
        <span class="menu__item settingsLink flex">
          <svg class="menu__item__icon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="#f8f4f4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="3"></circle>
            <path
              d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
            </path>
          </svg>
          <p class="menu__item__legend">Paramètres</p>
        </span>
      </nav>
    </span>
  </header>
  <main class="wrapper flex">
    <section class="home flex">
      <h1 class="home__mainTitle">Bienvenue dans PIB Manager</h1>
      <h2 class="home__title title">Que veux-tu faire ?</h2>
      <span class="home__btnContainer flex">
        <button class="home__btnContainer__outRequests btn home-btn" type="button">Rentrer une nouvelle demande</button>
        <button class="home__btnContainer__inRequests btn home-btn" type="button">Suivre un document</button>
        <button class="home__btnContainer__outReturns btn home-btn" type="button">Retour interne</button>
        <button class="home__btnContainer__inReturns btn home-btn" type="button">Retour vers une autre bibliothèque</button>
      </span>
    </section>
    <section class="outRequests__step1 hidden">
      <h2 class="outRequests__step1__title title">Vérifier si le document est disponible dans le réseau via Adlib</h2>
      <button class="outRequests__step1__btn btn home-btn" type="button">C'est fait !</button>
    </section>
    <section class="outRequests__step2 hidden">
      <h2 class="outRequests__step2__title title">Faire la demande via Samarcande</h2>
      <button class="outRequests__step2__btn btn home-btn" type="button">
        <%- include('samarcande'); %>
      </button>
      <button class="outRequests__step2__confirmation btn btn--green" type="button">C'est fait !</button>
    </section>
    <section class="outRequests outRequests__step3 hidden">
      <form class="outRequests__form flex" action="/" method="post">
        <h2 class="title">Informations PIB</h2>
        <span class="outRequests__form__pibInfo flex">
          <input class="outRequests__form__pibInfo__pibNb input" type="number" placeholder="Numéro PIB..." minlength="6" maxlength="6" required="true">
          <input class="outRequests__form__pibInfo__borrowingLibrary input" type="text" placeholder="Bibliothèque emprunteuse..." required="true">
          <input class="outRequests__form__pibInfo__loanLibrary input" type="text" placeholder="Bibliothèque d'origine..." value="Perwez" required="true">
          <input class="outRequests__form__pibInfo__requestDate input" type="date" required="true">
          <label for="isOutProvince">Hors-Province ?</label>
          <input class="outRequests__form__pibInfo__outProvince input" type="checkbox" name="isOutProvince">
        </span>
        <h2 class="title">Informations du document</h2>
        <span class="outRequests__form__docInfo flex">
          <input class="outRequests__form__docInfo__title input" type="text" placeholder="Titre du document..." required="true">
          <input class="outRequests__form__docInfo__author input" type="text" placeholder="Auteur du document..." required="true">
          <input class="outRequests__form__docInfo__cdu input" type="text" placeholder="CDU..." required="true">
        </span>
        <span class="outRequests__form__btnContainer flex">
          <button class="outRequests__form__btnContainer__reset btn btn--reset" type="reset">Effacer les champs</button>
          <button class="outRequests__form__btnContainer__submit btn btn--submit" type="submit">Valider</button>
        </span>
      </form>
    </section>
    <%- include('in_requests01'); %>
    <section class="inRequests__step2 hidden">
      <h2 class="inRequests__step2__title title">Encoder le document dans le module <i>PIB</i> d'AdLib</h2>
      <button class="inRequests__step2__btn btn home-btn" type="button">C'est fait !</button>
      <span class="inRequests__step2__reminder flex">
        <section class="inRequests__step2__reminder__content flex">
          <h3 class="inRequests__step2__reminder__content__title title">Informations du document</h3>
          <span class="inRequests__step2__reminder__content__item flex">
            <p class="inRequests__step2__reminder__content__item__label">Titre</p>
            <p class="inRequests__step2__reminder__content__item__title"></p>
          </span>
          <span class="inRequests__step2__reminder__content__item flex">
            <p class="inRequests__step2__reminder__content__item__label">Auteur</p>
            <p class="inRequests__step2__reminder__content__item__author"></p>
          </span>
          <span class="inRequests__step2__reminder__content__item flex">
            <p class="inRequests__step2__reminder__content__item__label">N° d'inventaire</p>
            <p class="inRequests__step2__reminder__content__item__inv"></p>
          </span>
        </section>
        <section class="inRequests__step2__barcode">
          <h3 class="inRequests__step2__reminder__content__title title">N° d'inventaire</h3>
        </section>
      </span>
    </section>
    <section class="inRequests__step3 hidden">
      <h2 class="inRequests__step3__title title">Faire la demande via Samarcande</h2>
      <button class="inRequests__step3__btn btn home-btn" type="button">
        <%- include('samarcande'); %>
      </button>
      <button class="inRequests__step3__confirmation btn btn--green" type="button">C'est fait !</button>
    </section>
    <section class="inReturns__step1 hidden">
      <h2 class="inReturns__step1__title title">Effectuer le retour dans Adlib</h2>
      <button class="inReturns__step1__btn btn home-btn" type="button">C'est fait !</button>
      <p class="protip">Modifier le statut de l'exemplaire en indiquant <i>mise au retrait (retour bibliothèque)</i> 😉</p>
    </section>
    <section class="inReturns__step2 hidden">
      <h2 class="inReturns__step2__title title">Effectuer le retour dans Samarcande</h2>
      <button class="inReturns__step2__btn btn home-btn" type="button">
        <%- include('samarcande'); %>
      </button>
      <button class="inReturns__step2__confirmation btn btn--green" type="button">C'est fait !</button>
    </section>
    <section class="inReturns__step3 hidden">
      <h2 class="inReturns__step3__title title">Effectuer le retour dans PIB Manager</h2>
      <input class="inReturns__step3__input input" type="text" placeholder="Numéro d'exemplaire...">
      <button class="inReturns__step3__btn btn home-btn" type="submit">Valider</button>
      <button class="inReturns__step3__confirmation btn btn--green" type="button">J'ai terminé !</button>
    </section>
    <section class="outReturns__step1 hidden">
      <h2 class="outReturns__step1__title title">Effectuer le retour dans Adlib</h2>
      <button class="outReturns__step1__btn btn home-btn" type="button">C'est fait !</button>
      <p class="protip">Les amendes dues par les autres bibliothèques ne sont jamais prises en compte 😉</p>
    </section>
    <section class="outReturns__step2 hidden">
      <h2 class="outReturns__step2__title title">Effectuer le retour dans Samarcande</h2>
      <button class="outReturns__step2__btn btn home-btn" type="button">
        <%- include('samarcande'); %>
      </button>
      <button class="outReturns__step2__confirmation btn btn--green" type="button">C'est fait !</button>
    </section>
    <section class="outReturns__step3 hidden">
      <h2 class="outReturns__step3__title title">Effectuer le retour dans PIB Manager</h2>
      <input class="outReturns__step3__input input" type="text" placeholder="Numéro PIB...">
      <button class="outReturns__step3__btn btn home-btn" type="submit">Valider</button>
      <button class="outReturns__step3__confirmation btn btn--green" type="button">J'ai terminé !</button>
    </section>
    <section class="addReader__step1 hidden">
      <h2 class="addReader__step1__title title">Ajouter un lecteur</h2>
      <form class="addReader__step1__form flex" action="/" method="post">
        <h3 class="addReader__step1__form__title title">Nom et prénom</h3>
        <span class="addReader__step1__form__nameContainer flex">
          <input class="addReader__step1__form__nameContainer__readerName input" type="text" placeholder="Nom">
          <input class="addReader__step1__form__nameContainer__readerFirstName input" type="text" placeholder="Prénom">
        </span>
        <h3 class="addReader__step1__form__title title">Adresse email</h3>
        <input class="addReader__step1__form__email__input input" type="email" placeholder="Adresse email">
        <h3 class="addReader__step1__form__title title">Sexe</h3>
        <span class="addReader__step1__form__male flex">
          <label class"addReader__step1__form__male__label">
            <input class="addReader__step1__form__male__input input radio" name="gender" type="radio" value="masculin">
            Masculin
          </label>
        </span>
        <span class="addReader__step1__form__female flex">
          <label class"addReader__step1__form__female__label">
            <input class="addReader__step1__form__female__input input radio" name="gender" type="radio" value="féminin">
            Féminin
          </label>
        </span>
        <span class="addReader__step1__form__btnContainer flex">
          <button class="addReader__step1__form__btnContainer__reset btn btn--reset" type="reset">Effacer les champs</button>
          <button class="addReader__step1__form__btnContainer__submit btn btn--submit" type="submit">Valider</button>
        </span>
      </form>
    </section>
  </main>
  <%- include('notification'); %>
  <span class="export hidden">
    <span class="export__child flex">
      <h2 class="export__child__title title">Exporter la base de données</h2>
      <section class="export__child__container flex">
        <form class="export__child__container__format flex">
          <h3 class="title">Format</h3>
          <label class="export__child__container__format__csv">
            <input class="export__child__container__format__csv__input input radio" name="DBformat" type="radio" value="csv">
            CSV (compatible Excel)
          </label>
          <label class="export__child__container__format__pgsql">
            <input class="export__child__container__format__pgsql__input input radio" name="DBformat" type="radio" value="pgsql">
            PostgreSQL (format base de données)
          </label>
        </form>
        <span class="export__child__container__btnContainer flex">
          <button class="export__child__container__btnContainer__btn btn btn--submit" type="button">Exporter</button>
          <button class="export__child__container__btnContainer__btn btn btn--reset" type="button">Annuler</button>
        </span>
      </section>
    </span>
  </span>
  <%- include('drafts'); %>
  <%- include('confirmation'); %>
  <%- include('settings'); %>
  <%- include('scripts'); %>
</body>

</html>
