<!DOCTYPE html>
<html lang="fr-BE" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="src/scss/prefixed/index.css">
  <link rel="icon" type="image/png" href="src/scss/icons/favicon.png">
  <title>PIB Manager</title>
</head>

<body>
  <div class="backgroundColor"></div>
  <header class="header">
    <span class="header__container flex">
      <img class="header__container__icon returnIcon hidden" alt="Retour en arrière" src="src/scss/icons/return.svg">
      <span class="header__container__msg hidden">Étape précédente</span>
    </span>
    <span class="header__actionsContainer flex">
      <svg class="header__actionsContainer__draft" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#ffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M20 11.08V8l-6-6H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h6" />
        <path d="M14 3v5h5M18 21v-6M15 18h6" /></svg>
      <a class="header__actionsContainer__search" href="/search" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="arcs">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </a>
      <svg class="header__actionsContainer__importExport" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#ffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21.2 15c.7-1.2 1-2.5.7-3.9-.6-2-2.4-3.5-4.4-3.5h-1.2c-.7-3-3.2-5.2-6.2-5.6-3-.3-5.9 1.3-7.3 4-1.2 2.5-1 6.5.5 8.8m8.7-1.6V21" />
        <path d="M16 16l-4-4-4 4" />
      </svg>
    </span>
  </header>
  <main class="wrapper flex">
    <section class="home flex">
      <h1 class="home__mainTitle">Bienvenue dans PIB Manager</h1>
      <h2 class="home__title title">Que veux-tu faire ?</h2>
      <span class="home__btnContainer flex">
        <button class="home__btnContainer__outRequests btn home-btn" type="button">Perwez prête</button>
        <button class="home__btnContainer__inRequests btn home-btn" type="button">Perwez emprunte</button>
        <button class="home__btnContainer__inReturns btn home-btn" type="button">Retour vers une autre bibliothèque</button>
        <button class="home__btnContainer__outReturns btn home-btn" type="button">Retour vers Perwez</button>
      </span>
      <span class="home__optionsContainer flex">
        <button class="home__optionsContainer__addReader btn home-btn">Ajouter un lecteur</button>
        <button class="home__optionsContainer__search btn home-btn">
          <a href="/search" target="_blank">Effectuer une recherche</a>
        </button>
      </span>
    </section>
    <section class="outRequests__step1 hidden">
      <h2 class="outRequests__step1__title title">Vérifier si le document est disponible dans le réseau via Adlib</h2>
      <button class="outRequests__step1__btn btn home-btn" type="button">C'est fait !</button>
    </section>
    <section class="outRequests__step2 hidden">
      <h2 class="outRequests__step2__title title">Faire la demande via Samarcande</h2>
      <button class="outRequests__step2__btn btn home-btn" type="button">
        <%- include('samarcande'); %>
      </button>
      <button class="outRequests__step2__confirmation btn btn--green" type="button">C'est fait !</button>
    </section>
    <section class="outRequests outRequests__step3 hidden">
      <form class="outRequests__form flex" action="/" method="post">
        <h2 class="title">Informations PIB</h2>
        <span class="outRequests__form__pibInfo flex">
          <input class="outRequests__form__pibInfo__pibNb input" type="number" placeholder="Numéro PIB..." minlength="6" maxlength="6" required="true">
          <input class="outRequests__form__pibInfo__borrowingLibrary input" type="text" placeholder="Bibliothèque emprunteuse..." required="true">
          <input class="outRequests__form__pibInfo__loanLibrary input" type="text" placeholder="Bibliothèque d'origine..." value="Perwez" required="true">
          <input class="outRequests__form__pibInfo__requestDate input" type="date" required="true">
          <label for="isOutProvince">Hors-Province ?</label>
          <input class="outRequests__form__pibInfo__outProvince input" type="checkbox" name="isOutProvince">
        </span>
        <h2 class="title">Informations du document</h2>
        <span class="outRequests__form__docInfo flex">
          <input class="outRequests__form__docInfo__title input" type="text" placeholder="Titre du document..." required="true">
          <input class="outRequests__form__docInfo__author input" type="text" placeholder="Auteur du document..." required="true">
          <input class="outRequests__form__docInfo__cdu input" type="text" placeholder="CDU..." required="true">
        </span>
        <span class="outRequests__form__btnContainer flex">
          <button class="outRequests__form__btnContainer__reset btn btn--reset" type="reset">Effacer les champs</button>
          <button class="outRequests__form__btnContainer__submit btn btn--submit" type="submit">Valider</button>
        </span>
      </form>
    </section>
    <section class="inRequests inRequests__step1 hidden">
      <form class="inRequests__form flex" action="/" method="post">
        <h2 class="title">Informations PIB</h2>
        <span class="inRequests__form__pibInfo flex">
          <input class="inRequests__form__pibInfo__pibNb input" type="number" placeholder="Numéro PIB..." minlength="6" maxlength="6" required="true">
          <input class="inRequests__form__pibInfo__borrowingLibrary input" type="text" placeholder="Bibliothèque d'origine..." required="true">
          <input class="inRequests__form__pibInfo__loanLibrary input" type="text" placeholder="Bibliothèque emprunteuse..." value="Perwez" required="true">
          <input class="inRequests__form__pibInfo__requestDate input" type="date" required="true">
          <label for="isOutProvince">Hors-Province ?</label>
          <input class="inRequests__form__pibInfo__outProvince input" type="checkbox" name="isOutProvince">
        </span>
        <h2 class="title">Informations du lecteur</h2>
        <span class="inRequests__form__readerInfo flex">
          <span class="inRequests__form__readerInfo__container flex">
            <input class="inRequests__form__readerInfo__container__name input" type="text" placeholder="Nom du lecteur..." required="true">
            <span class="inRequests__form__readerInfo__container__autocomplete hidden"></span>
          </span>
          <input class="inRequests__form__readerInfo__mail input" type="email" placeholder="Adresse email...">
        </span>
        <h2 class="title">Informations du document</h2>
        <span class="inRequests__form__docInfo flex">
          <input class="inRequests__form__docInfo__title input" type="text" placeholder="Titre du document..." required="true">
          <input class="inRequests__form__docInfo__author input" type="text" placeholder="Auteur du document..." required="true">
          <input class="inRequests__form__docInfo__cdu input" type="text" placeholder="CDU..." required="true">
          <input class="inRequests__form__docInfo__inv input" type="text" placeholder="N° d'inventaire..." required="true">
        </span>
        <span class="inRequests__form__btnContainer flex">
          <button class="inRequests__form__btnContainer__reset btn btn--reset" type="reset">Effacer les champs</button>
          <button class="inRequests__form__btnContainer__submit inRequests__step1__btn btn btn--submit" type="submit">Valider</button>
        </span>
      </form>
      <span class="inRequests__barcode flex"></span>
    </section>
    <section class="inRequests__step2 hidden">
      <h2 class="inRequests__step2__title title">Encoder le document dans le module <i>PIB</i> d'AdLib</h2>
      <button class="inRequests__step2__btn btn home-btn" type="button">C'est fait !</button>
      <span class="inRequests__step2__reminder flex">
        <section class="inRequests__step2__reminder__content flex">
          <h3 class="inRequests__step2__reminder__content__title title">Informations du document</h3>
          <span class="inRequests__step2__reminder__content__item flex">
            <p class="inRequests__step2__reminder__content__item__label">Titre</p>
            <p class="inRequests__step2__reminder__content__item__title"></p>
          </span>
          <span class="inRequests__step2__reminder__content__item flex">
            <p class="inRequests__step2__reminder__content__item__label">Auteur</p>
            <p class="inRequests__step2__reminder__content__item__author"></p>
          </span>
          <span class="inRequests__step2__reminder__content__item flex">
            <p class="inRequests__step2__reminder__content__item__label">N° d'inventaire</p>
            <p class="inRequests__step2__reminder__content__item__inv"></p>
          </span>
        </section>
        <section class="inRequests__step2__barcode">
          <h3 class="inRequests__step2__reminder__content__title title">N° d'inventaire</h3>
        </section>
      </span>
    </section>
    <section class="inRequests__step3 hidden">
      <h2 class="inRequests__step3__title title">Faire la demande via Samarcande</h2>
      <button class="inRequests__step3__btn btn home-btn" type="button">
        <%- include('samarcande'); %>
      </button>
      <button class="inRequests__step3__confirmation btn btn--green" type="button">C'est fait !</button>
    </section>
    <section class="inReturns__step1 hidden">
      <h2 class="inReturns__step1__title title">Effectuer le retour dans Adlib</h2>
      <button class="inReturns__step1__btn btn home-btn" type="button">C'est fait !</button>
      <p class="protip">Modifier le statut de l'exemplaire en indiquant <i>mise au retrait (retour bibliothèque)</i> 😉</p>
    </section>
    <section class="inReturns__step2 hidden">
      <h2 class="inReturns__step2__title title">Effectuer le retour dans Samarcande</h2>
      <button class="inReturns__step2__btn btn home-btn" type="button">
        <%- include('samarcande'); %>
      </button>
      <button class="inReturns__step2__confirmation btn btn--green" type="button">C'est fait !</button>
    </section>
    <section class="inReturns__step3 hidden">
      <h2 class="inReturns__step3__title title">Effectuer le retour dans PIB Manager</h2>
      <input class="inReturns__step3__input input" type="text" placeholder="Numéro d'exemplaire...">
      <button class="inReturns__step3__btn btn home-btn" type="submit">Valider</button>
      <button class="inReturns__step3__confirmation btn btn--green" type="button">J'ai terminé !</button>
    </section>
    <section class="outReturns__step1 hidden">
      <h2 class="outReturns__step1__title title">Effectuer le retour dans Adlib</h2>
      <button class="outReturns__step1__btn btn home-btn" type="button">C'est fait !</button>
      <p class="protip">Les amendes dues par les autres bibliothèques ne sont jamais prises en compte 😉</p>
    </section>
    <section class="outReturns__step2 hidden">
      <h2 class="outReturns__step2__title title">Effectuer le retour dans Samarcande</h2>
      <button class="outReturns__step2__btn btn home-btn" type="button">
        <%- include('samarcande'); %>
      </button>
      <button class="outReturns__step2__confirmation btn btn--green" type="button">C'est fait !</button>
    </section>
    <section class="outReturns__step3 hidden">
      <h2 class="outReturns__step3__title title">Effectuer le retour dans PIB Manager</h2>
      <input class="outReturns__step3__input input" type="text" placeholder="Numéro PIB...">
      <button class="outReturns__step3__btn btn home-btn" type="submit">Valider</button>
      <button class="outReturns__step3__confirmation btn btn--green" type="button">J'ai terminé !</button>
    </section>
    <section class="addReader__step1 hidden">
      <h2 class="addReader__step1__title title">Ajouter un lecteur</h2>
      <form class="addReader__step1__form flex" action="/" method="post">
        <h3 class="addReader__step1__form__title title">Nom et prénom</h3>
        <span class="addReader__step1__form__nameContainer flex">
          <input class="addReader__step1__form__nameContainer__readerName input" type="text" placeholder="Nom">
          <input class="addReader__step1__form__nameContainer__readerFirstName input" type="text" placeholder="Prénom">
        </span>
        <h3 class="addReader__step1__form__title title">Adresse email</h3>
        <input class="addReader__step1__form__email__input input" type="email" placeholder="Adresse email">
        <h3 class="addReader__step1__form__title title">Sexe</h3>
        <span class="addReader__step1__form__male flex">
          <input class="addReader__step1__form__male__input input radio" name="gender" type="radio" value="masculin">
          <label class"addReader__step1__form__male__label" for="male">Masculin</label>
        </span>
        <span class="addReader__step1__form__female flex">
          <input class="addReader__step1__form__female__input input radio" name="gender" type="radio" value="féminin">
          <label class"addReader__step1__form__female__label" for="female">Féminin</label>
        </span>
        <span class="addReader__step1__form__btnContainer flex">
          <button class="addReader__step1__form__btnContainer__reset btn btn--reset" type="reset">Effacer les champs</button>
          <button class="addReader__step1__form__btnContainer__submit btn btn--submit" type="submit">Valider</button>
        </span>
      </form>
    </section>
  </main>
  <div class="confirmation hidden">
    <div class="confirmation__body flex">
      <span class="confirmation__body__msg">La demande a bien été enregistrée 😉</span>
      <span class="confirmation__body__comment">Retour au menu principal dans 5 secondes</span>
      <span class="confirmation__body__cancel">J'ai oublié quelque-chose 😱 !</span>
    </div>
  </div>
  <%- include('notification'); %>
  <span class="export hidden">
    <span class="export__child flex">
      <h2 class="export__child__title title">Exporter la base de données</h2>
      <section class="export__child__container flex">
        <form class="export__child__container__format flex">
          <h3 class="title">Format</h3>
          <label class"export__child__container__format__csv">
            <input class="export__child__container__format__csv__input input radio" name="DBformat" type="radio" value="csv">
            CSV (compatible Excel)
          </label>
          <label class"export__child__container__format__pgsql">
            <input class="export__child__container__format__pgsql__input input radio" name="DBformat" type="radio" value="pgsql">
            PostgreSQL (format base de données)
          </label>
        </form>
        <span class="export__child__container__btnContainer flex">
          <button class="export__child__container__btnContainer__btn btn btn--submit" type="button">Exporter</button>
          <button class="export__child__container__btnContainer__btn btn btn--reset" type="button">Annuler</button>
        </span>
      </section>
    </span>
  </span>
  <span class="draft hidden">
    <span class="draft__child flex">
      <h2 class="draft__child__title title">Requête express</h2>
      <section class="draft__child__container flex">
        <form class="draft__child__container__reader flex" action="/" method="post">
          <h3 class="draft__child__container__reader__title title">Informations du lecteur</h3>
          <label class="draft__child__container__reader__label draft__child__container__reader__name flex">
            Nom du lecteur
            <input class="input" type="text" placeholder="Nom du lecteur...">
          </label>
          <label class="draft__child__container__reader__label draft__child__container__reader__date flex">
            Date de la demande
            <input class="input" type="date">
          </label>
          <label class="draft__child__container__reader__label draft__child__container__reader__bookTitle flex">
            Titre du document
            <input class="input" type="text" placeholder="Titre du document...">
          </label>
          <span class="draft__child__container__reader__btnContainer flex">
            <button class="draft__child__container__reader__btnContainer__submit btn btn--submit" type="submit">Valider</button>
            <button class="draft__child__container__reader__btnContainer__reset btn btn--reset" type="button">Annuler</button>
          </span>
        </form>
        <span class="draft__child__container__comment flex">
          <h3 class="draft__child__container__comment__title title">Commentaires</h3>
          <textarea class="draft__child__container__comment__textarea" name="name" rows="8" cols="80"></textarea>
        </span>
      </section>
    </span>
  </span>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" charset="utf-8" type="application/javascript"></script>
  <script src="/socket.io/socket.io.js" type="application/javascript"></script>
  <script src="/src/js/app.min.js" charset="utf-8" type="application/javascript"></script>
</body>

</html>
